<ng-container *transloco="let localize; scope: 'home'">
  <section>
    <form>
      <input
        type="text"
        [placeholder]="localize('home.filter-by-city-placeholder')"
        #filter
      />
      <button
        class="primary"
        type="button"
        (click)="filterResults(filter.value)"
      >
        {{ localize("home.filter-by-city-search-button") }}
      </button>
    </form>
  </section>
  <section class="results">
    <app-housing-location
      *ngFor="let housingLocation of (filteredLocationList$ | async)"
      [housingLocation]="housingLocation"
    >
    </app-housing-location>
  </section>
</ng-container>
