<main>
  <header class="brand-name">
    <a [routerLink]="['/']">
      <!--
        Use paths without / because of baseHref
        https://github.com/angular/angular/issues/38299#issuecomment-667132887
      -->
      <img
        class="brand-logo"
        src="assets/logo.svg"
        alt="logo"
        aria-hidden="true"
      />
    </a>

    <ul class="language-list">
      @for (language of languages; track $index) {
        <li [class.active]="localeId === language">
          <!-- Use href instead of routerLink for reloading page -->
          <a [href]="'/' + language + '/'">{{ language.toUpperCase() }}</a>
        </li>
      }
    </ul>
  </header>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
