<section>
  <form>
    <input
      type="text"
      i18n-placeholder="@@filter-by-city-placeholder"
      placeholder="Filter by city"
      #filter
    />
    <button
      class="primary"
      type="button"
      (click)="filterResults(filter.value)"
      i18="@@filter-by-city-search-button"
    >
      Search
    </button>
  </form>
</section>
<section class="results">
  <app-housing-location
    *ngFor="let housingLocation of filteredLocationList"
    [housingLocation]="housingLocation"
  >
  </app-housing-location>
</section>
