<ng-container *transloco="let localize; scope: 'details'">
  <article>
    <img
      class="listing-photo"
      [src]="housingLocation?.photo"
      [alt]="
        localize('details.details-listing-photo-alt', {
          name: housingLocation?.name
        })
      "
    />
    <section class="listing-description">
      <h2 class="listing-heading">{{ housingLocation?.name }}</h2>
      <p class="listing-location">
        {{ housingLocation?.city }}, {{ housingLocation?.state }}
      </p>
    </section>
    <section class="listing-features">
      <h2 class="section-heading">
        {{ localize("details.details-listing-features-section-heading") }}
      </h2>

      <ul>
        <li>
          {{
            localize("details.details-units-availiable", {
              value: housingLocation?.availableUnits
            })
          }}
        </li>
        <li>
          {{
            localize("details.details-have-wifi", {
              value: housingLocation?.wifi
            })
          }}
        </li>
        <li>
          {{
            localize("details.details-have-laundry", {
              value: housingLocation?.laundry
            })
          }}
        </li>
      </ul>
    </section>
    <section class="listing-apply">
      <h2 class="section-heading">
        {{ localize("details.details-listing-apply-section-heading") }}
      </h2>
      <form [formGroup]="applyForm" (submit)="submitApplication()">
        <label for="first-name">{{
          localize("details.apply-form-first-name")
        }}</label>
        <input id="first-name" type="text" formControlName="firstName" />

        <label for="last-name">{{
          localize("details.apply-form-last-name")
        }}</label>
        <input id="last-name" type="text" formControlName="lastName" />

        <label for="email">{{ localize("details.apply-form-email") }}</label>
        <input id="email" type="email" formControlName="email" />
        <button type="submit" class="primary">
          {{ localize("details.apply-form-button") }}
        </button>
      </form>
    </section>
  </article>
</ng-container>
